<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840848910203-hsb5f55p3rd8jt5ajovc3q4p9641o0qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840848910203-hsb5f55p3rd8jt5ajovc3q4p9641o0qm</string>
	<key>API_KEY</key>
	<string>AIzaSyDD3GWKvIo-mvZ2_YyQGVeX-I37P_ad7VM</string>
	<key>GCM_SENDER_ID</key>
	<string>840848910203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>snu.ece.TalkingBooghi-manager</string>
	<key>PROJECT_ID</key>
	<string>talkingbooghi-chi</string>
	<key>STORAGE_BUCKET</key>
	<string>talkingbooghi-chi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840848910203:ios:b33bbbe28a05555d</string>
	<key>DATABASE_URL</key>
	<string>https://talkingbooghi-chi.firebaseio.com</string>
</dict>
</plist>